<div class="coreui-panel text-center mb-3<%= wrapperType %><%= fit %>" id="coreui-panel-<%= id %>">
    <div class="card-body text-start">
        <% if (issetControls) { %>
            <div class="coreui-panel-controls position-relative top-0 end-0 float-end gap-1 d-flex flex-wrap justify-content-end"></div>
        <% } %>

        <% if (title) { %>
        <h4 class="card-title<% if ( ! subtitle) { %> mb-4<% } %>">
            <%- title %>
        </h4>
        <% } %>

        <% if (subtitle) { %>
        <p class="coreui-panel-subtitle text-body-secondary"><%- subtitle %></p>
        <% } %>

        <% if (tabs.content) { %>
            <% if (['top-left', 'top-center', 'top-right'].indexOf(tabs.position) >= 0) { %>
            <%- tabs.content %>

            <div class="coreui-panel-content card-content"></div>

            <% } else if (tabs.position === 'left') { %>
            <div class="d-flex">
                <div class="me-3" style="width: <%= tabs.width %>"><%- tabs.content %></div>
                <div class="coreui-panel-content card-content flex-grow-1"></div>
            </div>

            <% } else if (tabs.position === 'right') { %>
            <div class="d-flex">
                <div class="coreui-panel-content card-content flex-grow-1 pe-3"></div>
                <div style="width: <%= tabs.width %>"><%- tabs.content %></div>
            </div>
            <% } %>

        <% } else { %>
        <div class="coreui-panel-content card-content"></div>
        <% } %>
    </div>
</div>