
<div class="btn-group" role="group">
    <% $.each(buttons, function(key, button) { %>
        <% if (button.type === 'link') { %>
        <a href="<%= button.link %>"<%- button.attr %>><%= button.content %></a>

        <% } else if (button.type === 'button') { %>
        <button type="button" id="btn-<%= button.id %>"<%- button.attr %>>
            <%= button.content %>
        </button>

        <% } else if (button.type === 'dropdown') { %>
        <div class="btn-group" role="group">
            <button type="button" data-bs-toggle="dropdown"<%- button.attr %>>
                <%- button.content %>
            </button>
            <ul class="dropdown-menu dropdown-menu-<%= button.position %>">
                <% $.each(button.items, function(key, item) { %>
                <% if (item.type === 'link') { %>
                <li><a class="dropdown-item" href="<%= item.link %>"><%= item.content %></a></li>

                <% } else if (item.type === 'button') { %>
                <li>
                    <button type="button" class="dropdown-item" id="btn-dropdown-<%= item.id %>">
                        <%= item.content %>
                    </button>
                </li>

                <% } else if (item.type === 'divider') { %>
                <li><hr class="dropdown-divider"></li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <% } %>
    <% }) %>
</div>