@import "node_modules/bootstrap-5-vertical-tabs/dist/b5vtabs.min";

.coreui-panel {
    min-width: min-content;

    .coreui-panel-back i {
        font-size: 1.09em;
    }

    .right-tabs .nav-link {
        text-align: left;
    }
}