.coreui-panel {
    margin-bottom: 20px;
    padding: 25px 20px;
    border: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
         -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.coreui-panel > .coreui-panel-heading {
    position: relative;
    min-height: 15px;
}
.coreui-panel > .coreui-panel-heading > .coreui-panel-title {
    font-weight: normal;
    font-size: 26px;
    overflow: hidden;
    margin-bottom: 25px;
}
.coreui-panel > .coreui-panel-heading > .coreui-panel-title > .coreui-panel-subtitle {
    font-weight: normal;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 0 0;
}
.coreui-panel > .coreui-panel-heading > .coreui-panel-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
         -o-transform: translate(0,-50%);
            transform: translate(0,-50%)
}
.coreui-panel > .coreui-panel-body .tab-content > .tab-pane,
.coreui-panel > .coreui-panel-body .pill-content > .pill-pane {display: none}

.coreui-panel > .coreui-panel-body .tab-content > .active,
.coreui-panel > .coreui-panel-body .pill-content > .active {display: block}

.coreui-panel > .coreui-panel-tabs {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}
.coreui-panel > .coreui-panel-tabs:after,
.coreui-panel > .coreui-panel-tabs:before {
    display: table;
    content: " ";
    clear: both;
}
.coreui-panel > .coreui-panel-tabs > li {
    position: relative;
    display: block;
    float: left;
    margin-top: -1px;
    margin-bottom: -1px;
}

.coreui-panel > .coreui-panel-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background: 0 0;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
         -ms-border-radius: 4px 4px 0 0;
          -o-border-radius: 4px 4px 0 0;
             border-radius: 4px 4px 0 0;
}
.coreui-panel > .coreui-panel-tabs > li > a:hover,
.coreui-panel > .coreui-panel-tabs > li > a:focus {
    border-bottom-color: transparent;
    text-decoration: none;
}

.coreui-panel > .coreui-panel-tabs > li.active > a,
.coreui-panel > .coreui-panel-tabs > li.active > a:hover,
.coreui-panel > .coreui-panel-tabs > li.active > a:focus {
    cursor: pointer;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
}
.coreui-panel > .coreui-panel-tabs li.disabled > a {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.dropdown {
    position: relative;
}
.coreui-panel > .coreui-panel-tabs > li.dropdown.open > a,
.coreui-panel > .coreui-panel-tabs > li.dropdown.open > a:hover,
.coreui-panel > .coreui-panel-tabs > li.dropdown.open > a:focus {
    text-decoration: none;
}
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: -1px 0 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.coreui-panel > .coreui-panel-tabs > li.open > .dropdown-menu {display: block}
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    text-decoration: none;
}
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > .active > a,
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > .active > a:hover,
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > .active > a:focus {
    text-decoration: none;
    outline: 0;
}
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    text-decoration: none;
}
.coreui-panel > .coreui-panel-tabs > li > .dropdown .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


/* default */
.coreui-panel.coreui-panel-default {
    background-color: #fff;
    color: #333
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs {
    border-bottom: 1px solid #ddd;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > a {
    color: #333
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li.active > a {
    color: #555;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-bottom-color: #fff;
}
.coreui-panel.coreui-panel-default > .coreui-panel-heading > .coreui-panel-title > .coreui-panel-subtitle {
    color: #757575;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li.dropdown.open > a {
    background-color: #eee;
    border-color: #337ab7;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > .dropdown-menu > li.active > a {
    color: #fff;
    background-color: #428bca;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > .dropdown-menu .divider {
    background-color: #e5e5e5;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs li.disabled > a {
    color: #a0a0a0;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > .dropdown-menu > li > a {
    color: #333;
}
.coreui-panel.coreui-panel-default > .coreui-panel-tabs > li > .dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
}


/* danger */
.coreui-panel.coreui-panel-danger {
    background-color: #e0685d;
    color: #fff;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs {
    border-bottom: 1px solid #ffd5d5;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > a {
    color: #fff
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li.active > a {
    color: #fff;
    border-color: #ffd5d5;
    border-bottom-color: #e0685d;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-heading > .coreui-panel-title > .coreui-panel-subtitle {
    color: #ffd5d5;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li.dropdown.open > a {
    background-color: #ff7d71;
    border-color: #ab453c;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    background-color: #ec8177;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > .dropdown-menu > li.active > a {
    color: #fff;
    background-color: #c1473c;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > .dropdown-menu .divider {
    background-color: #ffd5d5;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs li.disabled > a {
    color: #ffb4b4;
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > .dropdown-menu {
    background-color: #e0685d;
    border: 1px solid rgba(0,0,0,.15);
}
.coreui-panel.coreui-panel-danger > .coreui-panel-tabs > li > .dropdown-menu > li > a {
    color: #fff;
}


/* primary */
.coreui-panel.coreui-panel-primary {
    background-color: #5f99f5;
    color: #fff;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs {
    border-bottom: 1px solid #cde0ff;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > a {
    color: #fff
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li.active > a {
    color: #fff;
    border-color: #cde0ff;
    border-bottom-color: #5f99f5;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-heading > .coreui-panel-title > .coreui-panel-subtitle {
    color: #cde0ff;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li.dropdown.open > a {
    background-color: #79abfb;
    border-color: #356aa7;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    background-color: #4581e4;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > .dropdown-menu > li.active > a {
    color: #fff;
    background-color: #3c6dc1;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > .dropdown-menu .divider {
    background-color: #9dc2ff;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs li.disabled > a {
    color: #aecdff;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > .dropdown-menu > li > a {
    color: #fff;
}
.coreui-panel.coreui-panel-primary > .coreui-panel-tabs > li > .dropdown-menu {
    background-color: #5f99f5;
    border: 1px solid rgba(0,0,0,.15);
}


/* success */
.coreui-panel.coreui-panel-success {
    background-color: #4fa766;
    color: #fff;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs {
    border-bottom: 1px solid #d6ffc0;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > a {
    color: #fff
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li.active > a {
    color: #fff;
    border-color: #d6ffc0;
    border-bottom-color: #4fa766;
}
.coreui-panel.coreui-panel-success > .coreui-panel-heading > .coreui-panel-title > .coreui-panel-subtitle {
    color: #dfffd5;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li.dropdown.open > a {
    background-color: #67bd7e;
    border-color: #107528;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    background-color: #5eb951;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > .dropdown-menu > li.active > a {
    color: #fff;
    background-color: #158c3e;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > .dropdown-menu .divider {
    background-color: #abd29d;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs li.disabled > a {
    color: #91daa4;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > .dropdown-menu > li > a {
    color: #fff;
}
.coreui-panel.coreui-panel-success > .coreui-panel-tabs > li > .dropdown-menu {
    background-color: #4fa766;
    border: 1px solid rgba(0,0,0,.15);
}


/* warning */
.coreui-panel.coreui-panel-warning {
    background-color: #f6c163;
    color: #fff;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs {
    border-bottom: 1px solid #fff8d5;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > a {
    color: #fff
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li.active > a {
    color: #fff;
    border-color: #fff8d5;
    border-bottom-color: #f6c163;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-heading > .coreui-panel-title > .coreui-panel-subtitle {
    color: #fff6d5;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li.dropdown.open > a {
    background-color: #fdd07f;
    border-color: #d8ae04;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > .dropdown-menu > li > a:hover,
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > .dropdown-menu > li > a:focus {
    background-color: #fbda95;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > .dropdown-menu > li.active > a {
    color: #fff;
    background-color: #c1903c;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > .dropdown-menu .divider {
    background-color: #fff8d5;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs li.disabled > a {
    color: #ffe3b0;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > .dropdown-menu > li > a {
    color: #fff;
}
.coreui-panel.coreui-panel-warning > .coreui-panel-tabs > li > .dropdown-menu {
    background-color: #f6c163;
    border: 1px solid rgba(0,0,0,.15);
}